.container {
  border-bottom: 1px solid white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
  display: flex;
  align-items: flex-end;
  padding: 1em;
}