.title {
    border-bottom: 1px solid white;
    line-height: 1.5em;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 1em;
}

@media screen and (max-width: 768px) {
    .productsContainer {
        grid-template-columns: 1fr;
        padding: 0;
    }
}

@media (prefers-color-scheme: light) {
    .title {
        border-bottom: 1px solid #213547;
    }
}